<div class="page-header">
    <div class="row">
        <div class="col-sm-2">
            <h1 class="page-title">Products</h1>
        </div>
        <div class="col-sm-8">

        </div>
    </div>
</div>
<div class="page-content container-fluid" data-ng-controller="ProductAddCtrl" ng-init="index()">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="margin-lg-0">
                <h3 data-ng-if="isUpdate==false">Add New</h3>
                <h3 data-ng-if="isUpdate==true">Update</h3>
                <form>
                    <label>Product Name</label>
                    <input type="text" class="form-control" ng-model="product.name" name="product_name" />
                    <label>Category</label>
                    <select class="form-control" ng-model="product.category_id" name="product_id">
                        <option data-ng-repeat="category in categories" ng-selected="category.id == product.category_id" value="{{category.id}}">
                            {{category.name}}
                        </option>
                    </select>
                    <label>Price</label>
                    <input type="text" class="form-control" ng-model="product.price" name="product_price" />
                    <div class="radio-custom radio-primary">
                        <input type="radio" id="product_enabled" ng-model="product.status" name="product_enabled" checked value="enable">
                        <label for="product_enabled">Active</label>
                    </div>
                    <div class="radio-custom radio-primary">
                        <input type="radio" id="product_disabled" ng-model="product.status"
                        name="product_status" value="disable">
                        <label for="product_disabled">Inactive</label>
                    </div>
                    <button data-ng-if="isUpdate==false" type="button" data-ng-click="add()" class="btn btn-primary">Add</button>
                    <button data-ng-if="isUpdate==true" type="button" data-ng-click="update()" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>