<div data-ng-controller="ProductsCtrl">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-2">
                <h1 class="page-title">Products</h1>
            </div>
            <div class="col-sm-8">

            </div>
            <div class="col-sm-2" id="add-button">
                <button type="button" class="btn btn-danger" data-ng-click="delete()">
                    <i class="site-menu-icon wb-close" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary" data-ui-sref="product-add" data-slug="product-add">
                    <i class="site-menu-icon wb-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="page-content container-fluid" >
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="margin-lg-0">
                    <div class="table-responsive">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="find" name="find" placeholder="Find...">
                                <span class="input-group-btn">
                                  <button type="submit" data-ng-click="index('id')" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i>
                                  </button>
                                </span>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" data-ng-click="checkAll()" name="all_products" id="all_products">
                                </td>

                                <td class="text-left">
                                    <a href data-ng-click="index('name')">Product Name</a>
                                </td>
                                <td class="text-left">
                                    <a href data-ng-click="index('category_id')">Category</a>
                                </td>
                                <td class="text-left">
                                    <a href data-ng-click="index('price')">Price</a>
                                </td>
                                <td class="text-left">
                                    <a href data-ng-click="index('status')">Status</a>
                                </td>
                                <td class="text-right">Action</td>
                            </tr>
                            </thead>
                            <tbody  infinite-scroll="index(false)" infinite-scroll-disabled="scrollDisable"
                                    infinite-scroll-distance='0'>
                            <tr data-ng-repeat="product in products" id="product_{{product.id}}">
                                <td class="text-center">
                                    <input type="checkbox" name="product_id" ng-model="product.selected" value="{{product.id}}">
                                </td>
                                </td>
                                <td class="text-left">{{product.name}}</td>
                                <td class="text-left">{{product.category.name}}</td>
                                <td class="text-left">
                                    {{product.price}} $
                                </td>
                                <td class="text-left">
                                    <div data-ng-if="product.status == 'enable'">
                                        <i data-ng-click="disable(product.id)" class="icon wb-medium-point" style="cursor:pointer;color:green;"></i>
                                    </div>
                                    <div data-ng-if="product.status != 'enable'">
                                        <i data-ng-click="enable(product.id)" class="icon wb-medium-point" style="cursor:pointer;color:red;"></i>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <button type="button" data-ui-sref="product-add({id:product.id})" data-slug="product-add/{{product.id}}" class="btn btn-primary" data-ui-sref="product-add" data-slug="product-add">
                                        <i class="site-menu-icon wb-edit" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>