<div data-ng-controller="CategoryAddCtrl">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-2">
                <h1 class="page-title">Categories</h1>
            </div>
            <div class="col-sm-8">

            </div>

        </div>
    </div>
    <div class="page-content container-fluid" ng-init="index()">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="margin-lg-0">
                    <h3 data-ng-if="isUpdate==false">Add New</h3>
                    <h3 data-ng-if="isUpdate==true">Update</h3>
                    <form>
                        <label>Category Name</label>
                        <input type="text" class="form-control" ng-model="category.name" name="category_name" />
                        <label>Parent Category</label>
                        <select class="form-control" ng-model="category.category_parent_id" name="category_parent_id">
                            <option data-ng-repeat="categoryItem in categories" ng-selected="categoryItem.id == category.category_parent_id" value="{{categoryItem.id}}">
                                {{categoryItem.name}}
                            </option>
                        </select></br>
                        <button data-ng-if="isUpdate==false" type="button" data-ng-click="add()" class="btn btn-primary">Add</button>
                        <button data-ng-if="isUpdate==true" type="button" data-ng-click="update()" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>