<div class="page-header">
    <div class="row">
        <div class="col-sm-2">
            <h1 class="page-title">Categories</h1>
        </div>
        <div class="col-sm-8">

        </div>
        <div class="col-sm-2" id="add-button">
            <button  type="button" class="btn btn-primary" data-ui-sref="category-add" data-slug="category-add">
                <i class="site-menu-icon wb-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<div class="page-content container-fluid" data-ng-controller="CategoriesCtrl">
    <div class="panel">
        <div class="panel-body container-fluid" ng-init="index()">
            <div class="margin-lg-0">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td style="width: 1px;" class="text-center">
                            #
                        </td>
                        <td class="text-left">
                            Category Name
                        </td>
                        <td class="text-left">
                            Parent Category
                        </td>
                        <td class="text-right">Action</td>
                    </tr>
                    </thead>
                    <tbody infinite-scroll="index()" infinite-scroll-disabled="scrollDisable"
                           infinite-scroll-distance='0'>
                    <tr data-ng-repeat="category in categories" id="category_{{category.id}}">
                        <td class="text-center">
                            {{category.id}}
                        </td>
                        <td class="text-left">
                            {{category.name}}
                        </td>
                        <td class="text-left">
                            {{category.parent.name}}
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-primary" data-ui-sref="category-add({id:category.id})" data-slug="category-add/{{category.id}}">
                                <i class="site-menu-icon wb-edit" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger" title="Delete" data-ng-click="delete(category.id)">
                                <i class="site-menu-icon wb-close" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>